body {
  background: #0099ff;
  width: 100%;
}

h1 {
  text-align: center;
  color: #def;
  font-family: Lobster;
}

h3 {
  font-family: Open Sans;
}

#intro {
  display: none;
  text-align: center;
}

#reply {
  display: block;
  margin: auto;
  padding-top: 20px;
  width: 60%;
  font-family: Open Sans;
  font-weight: bold;
  color: #ffcc00;
}

.circleIdle, .circle {
  display: block;
  position: absolute;
  background: #ffff33;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.arrow {
  display: inline-block;
  margin-top: -10px;
  width: 100px;
}

.tail {
  display: block;
  margin-top: -13px;
  margin-left: 25px;
  width: 50px;
  height: 5px;
  background: #ffff33;
  float: left;
}

.head {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 40px solid #ffff33;
  float: right;
}

.observer {
  display: block;
  margin-left: 50%;
  width: 10%;
}

.chris {
  margin-top: 45%;
  width: 100%;
}

p.yellow {
  margin: auto;
  font-size: 0.6em;
  font-weight: bold;
  color: #000;
  position: relative;
  width: 100px;
  height: 60px;
  text-align: center;
  line-height: 15px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
}

p.yellow:before {
  content: "";
  position: absolute;
  left: 60px;
  top: 60px;
  border: 10px solid #fff;
  border-color: #fff transparent transparent #fff;
}

#red {
  text-align: center;
}

.redDoppler {
  position: relative;
  margin-top: 10%;
}
.idle {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 40px;
}

.readOutsIdle, .readOutsActive {
  display: block;
  width: 300px;
  margin-left: -100px;
}

.rectRightIdle {
  display: inline-block;
  width: 80px;
  height: 20px;
  border: 1px solid black;
  float: right;
  animation: box 6s infinite ease-out;
}

.rectRightActive {
  display: inline-block;
  width: 80px;
  height: 20px;
  border: 1px solid black;
  float: right;
  animation: boxRed 6s infinite ease-out;
}

.right {
  position: absolute;
  top: 70%;
  left: 30%;
  width: 40px;
}

.light, .light:before, .light:after {
  display: block;
  border-radius: 2px;
  width: 2px;
  height: 2px;
  animation: waves 6s infinite ease-out;
}

.lightIdle, .lightIdle:before, .lightIdle:after {
  display: block;
  border-radius: 2px;
  width: 2px;
  height: 2px;
  animation: waves 6s infinite ease-out;
}

.lightIdle, .light {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -1;
}

.lightIdle:before, .lightIdle:after {
  position: absolute;
  content: "";
}

.lightIdle:before {
  animation-delay: .5s;
}

.lightIdle:after {
  animation-delay: 1s;
}

.light:before {
  content: "";
  position: absolute;
  animation-delay: 0.5s;
  left: 15px;
}

.light:after {
  content: "";
  position: absolute;
  animation-delay: 1s;
  left: 30px;
}

@keyframes waves {
  0%  {
    box-shadow:0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent;
  }
  15%  {
    box-shadow:0 0 0 0 #0099ff,
               0 0 0 0 transparent,
               0 0 0 0 #0099ff,
               0 0 0 0 rgba(255, 255, 102, 1);
  }
  100% {
    box-shadow:0 0 40px 2px #0099ff,
               0 0 10px 20px transparent,
               0 0 30px 220px #0099ff,
               0 0 5px 230px transparent;
  }
}

@keyframes box {
  0% {background-color: transparent;}
  50% {background-color: transparent;}
  80% {background-color: #ffff33;}
}

@keyframes boxRed {
  0% {background-color: transparent;}
  50% {background-color: transparent;}
  80% {background-color: #0000ff;}
}